{{#
    @name About me section
    @description Some basic information about me
#}}
    <div class="bg-palmiak_bg/30">
        <section class="container mx-auto pt-[120px] pb-[120px] px-5 ">
            <div class="flex flex-wrap items-center justify-between">
                <div class="w-full px-6 lg:w-6/12 bg-contain bg-center bg-no-repeat bg-[url('/resources/images/ccs_pattern.svg')]">
                    <div class="-mx-3 lg:flex items-end sm:-mx-4">
                        <div class="w-full px-3 sm:px-4 xl:w-3/5">
                            <div class="relative z-10 my-4">
                                <div class="block relative overflow-hidden rounded-full">
                                    <span class="absolute inset-0 w-full h-full z-10 bg-gradient-to-r from-palmiak_purple/0 to-palmiak_purple origin-center hover:rotate-45 transition-all duration-200 delay-150"></span>
                                    <img src="{{ glide :src="publication:photo:0.url" format="webp" }}" alt="{{ publication:photo:0.alt }}"
                                    class="w-full rounded-full object-cover" loading="lazy" />
                                </div>
                            </div>
                        </div>
                        <div class="w-full lg:block hidden px-3 sm:px-4 xl:w-2/5">
                            <div class="py-3 sm:py-4">
                                <div class="block relative overflow-hidden rounded-full">
                                    <span class="absolute inset-0 w-full h-full z-10 bg-gradient-to-r from-palmiak_pink/0 to-palmiak_pink origin-center hover:rotate-45 transition-all duration-200 delay-150"></span>
                                    <img src="{{ glide :src="publication:photo:1.url" format="webp" }}" alt="{{ publication:photo:1.alt }}"
                                    class="w-full rounded-full object-cover" loading="lazy"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
                    <div class="mt-10 lg:mt-0">
                        <span class="text-palmiak_pink mb-0 block text-lg">
                            About me
                        </span>
                        <h2 class="text-white font-palmiak-font-sansserif mb-8 font-bold sm:text-4xl">
                            Maciek Palmowski
                        </h2>
                        <p>
                            I'm a web developer working at Kinsta as a <strong>Development Advocate Analyst</strong>. After hours I spend most of my time trying to find interesting news for <a class="underline" href="https://newsletter.maciekpalmowski.dev">my newsletter</a>, coding or drinking coffee.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="line h-0.5"></div>
