{{#
    @name Contact me and become a guest
    @desc A small static box that help people contact me
#}}
<aside class="item justify-self-stretch place-items-center rounded-tr-[20px] rounded-bl-[20px] border-dashed border-2 border-palmiak_purple p-10 shadow-lg shadow-palmiak_purple/20">
    <div class="grid grid-cols-1 gap-0 place-items-center h-full">
        <div class="item text-center">
            <p>Do you want to be my guest or have a fantastic idea for a topic?<br>If so...</p>
            <a href="mailto:hi@maciekpalmowski.dev" class="mt-7 py-5 px-7 inline-block rounded-tr-[20px] rounded-bl-[20px] bg-palmiak_purple font-palmiak-font font-bold text-base shadow-lg shadow-palmiak_purple/60 tracking-[2px] transition-all duration-200 delay-150 hover:bg-palmiak_pink hover:shadow-palmiak_pink/30">
                {{ svg src="uicons/fi-rr-envelope" class="w-4 h-4 fill-white inline-block mr-3" }}
                contact me right away
            </a>
        </div>
    </div>
</aside>
