<main class="pt-[160px]">

    <article class="container mx-auto max-w-3xl mb-[120px] px-5">
        <div class="grid grid-cols-1 gap-10">
            <p class="text-sm mb-0">
                <a href="" class="text-white/40 hover:text-white underline transition-all duration-200 delay-150">All Episodes</a>
            </p>
            <h1 class="leading-h1 mb-3 font-palmiak-font-sansserif text-white">
                {{ title }}
                <span class="block mt-2 text-base font-palmiak-font font-normal">with <strong class="font-normal text-palmiak_pink">Christian Dangl</strong></span>
            </h1>

            <div class="aspect-w-16 aspect-h-9 mb-7">
                <iframe class="rounded-tr-[20px] rounded-bl-[20px] shadow-lg shadow-palmiak_purple/20" width="560" height="315" src="https://www.youtube.com/embed/C8fp5nxaZeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="prose lg:prose-xl text-white content prose-h1:text-white prose-h2:text-white  prose-h3:text-white  prose-h4:text-white  prose-h5:text-white">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula mollis sem at malesuada. Maecenas libero erat, congue non enim at, malesuada lobortis massa. Proin tristique lectus dolor, sit amet facilisis felis porta vitae. Maecenas imperdiet laoreet sem eu malesuada. Aliquam tristique eget orci laoreet dictum. Sed mattis eleifend risus in suscipit. Fusce lobortis, elit rutrum facilisis volutpat, justo orci luctus risus, sit amet placerat ipsum mauris a diam. Ut at sapien posuere, aliquam elit at, sagittis velit.
                </p>

                <h2>
                    Praesent porttitor et dolor at accumsan
                </h2>

                <p>
                    Sed ultricies porttitor gravida. Phasellus a vehicula nibh, eget hendrerit urna. Phasellus ultricies neque et mollis faucibus. Sed interdum tortor sit amet magna tincidunt accumsan. In quis pellentesque nisi, ac dapibus velit. Nulla fringilla, justo et viverra malesuada, metus arcu vestibulum nisl, et posuere ex orci sit amet mauris. Nulla pretium risus dapibus turpis faucibus molestie vitae nec lectus. Nullam dictum eleifend sodales.
                </p>
            </div>

            <div class="text-base leading-relaxed rounded-tr-[20px] rounded-bl-[20px] border-dashed border-2 border-palmiak_blue p-10 shadow-lg shadow-palmiak_blue/20 mb-10">
                <div class="lg:grid lg:grid-flow-col lg:grid-cols-2 gap-10 content-center items-center mb-7">
                    <div class="item">
                        <span class="text-palmiak_blue mb-0 block text-lg">
                            About guest
                        </span>
                        <h2 class="text-white mt-3 font-palmiak-font-sansserif mb-8 font-bold sm:text-4xl">
                            Christian Dangl
                        </h2>
                    </div>
                    <div class="item relative bg-contain bg-center bg-no-repeat bg-[url('/resources/images/ccs_pattern.svg')] px-5">
                        <div class="block h-60 w-60 rounded-full relative overflow-hidden">
                            <span class="absolute inset-0 w-full h-full z-10 bg-gradient-to-r from-palmiak_bg/0 to-palmiak_bg origin-center rotate-90 hover:rotate-180 transition-all duration-200 delay-150"></span>
                            <img src="https://images.unsplash.com/photo-1673455461914-abc90161abaa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&h=600&q=80" format="webp" }}" alt="{{ guest:0:photo.alt }}" class="block rounded-full object-cover h-60 w-60" loading="lazy">
                        </div>
                    </div>
                </div>
                <p>
                    I'm a web developer working at Kinsta as a <strong>Development Advocate Analyst</strong>. After hours I spend most of my time trying to find interesting news for <a class="underline" href="https://newsletter.maciekpalmowski.dev">my newsletter</a>, coding or drinking coffee.
                </p>
                <div class="flex mt-7 gap-5 flex-col">
                    <a href="" class="flex content-center text-white hover:text-palmiak_blue transition-all opacity-50 hover:opacity-100 text-sm">
                        {{ svg src="uicons/fi-brands-twitter" class="w-5 h-5 fill-white inline-block mr-3" }}
                        @twitterusename
                    </a>

                    <a href="" class="flex content-center text-white hover:text-palmiak_blue transition-all opacity-50 hover:opacity-100 text-sm">
                        {{ svg src="uicons/fi-brands-linkedin" class="w-5 h-5 fill-white inline-block mr-3" }}
                        Linedin UserName
                    </a>

                    <a href="" class="flex content-center text-white hover:text-palmiak_blue transition-all opacity-50 hover:opacity-100 text-sm">
                        {{ svg src="uicons/fi-house-chimney" class="w-5 h-5 fill-white inline-block mr-3" }}
                        www.website.com
                    </a>
                </div>
            </div>

            <div class="line h-0.5 w-60"></div>

            <div class="flex mt-10 gap-10 content-center">
                <a href="" class="flex content-center text-white hover:text-palmiak_blue transition-all opacity-50 hover:opacity-100 text-sm">
                    {{ svg src="uicons/fi-brands-twitter" class="w-5 h-5 fill-white inline-block mr-3" }}
                    share on twitter
                </a>

                <a href="" class="flex content-center text-white hover:text-palmiak_blue transition-all opacity-50 hover:opacity-100 text-sm">
                    {{ svg src="uicons/fi-brands-linkedin" class="w-5 h-5 fill-white inline-block mr-3" }}
                    share on linkedin
                </a>
            </div>
        </div>
    </article>
    {{ partial:partials/sponsors }}

</main>
